html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111111;
}

canvas {
    display: block;
}

/* body {
    margin: 0;
    overflow: hidden;
    background: black;
}

canvas {
    display: block;
    background: #111;
} */